            <h3>ABOUT I-LaSer</h3>  
            <h5>(Names of I-LaSer versions are those of research students who contributed to their implementation)</h5>
            <div class="col-md-12 text-justify">
                <p><b>Project initiator</b>: Stavros Konstantinidis (<a href="http://cs.smu.ca/~stavros/">http://cs.smu.ca/~stavros/</a>)</p>
                <h4><b>Significant contributors</b>:</h4>
                <p><a href="http://www.dcc.fc.up.pt/~nam/">Nelma Moreira</a> &amp <a href="http://www.dcc.fc.up.pt/~rvr/">Rogerio Reis</a>: as of version 3, LaSer's back end is based on <a href="http://fado.dcc.fc.up.pt/">FAdo</a></p>
                <p>6: Baxter Madore (August 2024, <b>current version</b>) <br>
                Incorporating the approximate maximality question, and adding time limits to computations.
                <p>5: Matthew Rafuse (January 2018) <br> Incorporating into LaSer satisfaction of DNA properties, introducing text areas for entering user input, and making the views.py code modular.</p>
                <p>4: Abisola Adeniran (October 2016) <br> Incorporating into LaSer the construction problem.</p>
                <p>3: Casey Meijer (June 2014) <br> Deciding maximality of all available properties, generation of executable code</p>
                <p>2: Meng Yang (June 2012) <br> Deciding satisfaction of: Input-preserving transducer, Error-detection, and Error-correction properties </p>
                <p>1: Krystian Dudzinski (June 2010) <br> Deciding satisfaction of: Trajectory and Input-altering transducer properties</p>
            </div>