<h3>Format for Automata</h3>
<div class="col-md-12 text-justify">
<p>One can use the <a href="http://www.csit.upei.ca/~ccampeanu/Grail/">Grail</a> and <a href="http://fado.dcc.fc.up.pt/">FAdo</a> formats for nondeterministic finite automata (those with nonempty transitions). The format of <a href="http://fado.dcc.fc.up.pt/">FAdo</a> files must be as follows:</p>
    <ol>
        <li>'#' begins a comment</li>
        <li><b>@NFA</b>, or <b>@DFA</b>, begins a new automaton (and determines its type) and must be followed by the list of the final states separated by blanks</li>
        <li>Transitions are written one per line and consist of three fields separated by blanks: "state" "symbol" "new state"</li>
        <li>The source state of the first transition is the initial state, or initial states can be specified by listing them after the end states and an asterisk.</li>
    </ol>
    <div class="col-md-3 text-center"></div>
    <div class="col-md-12 text-justify">
        <p>Here is an example of an automaton accepting ab* using both, <a href="http://www.csit.upei.ca/~ccampeanu/Grail/">Grail</a> and <a href="http://fado.dcc.fc.up.pt/">FAdo</a> formats:</p>
        <pre>
Grail:   <code>
(START) |- 1
1 a 2
2 b 2
2 -| (FINAL)
        </code></pre>
        <pre>
FAdo:   <code>
@NFA 2
1 a 2
2 b 2
        </code></pre>
        <p><b>More examples follow:</b></p>
        <p>Automaton accepting aaa(aaa)*b + aa(ba)*a(aa(ba)*a)*b:</p>
        <pre>
Grail:   <code>
(START) |- 1
1 a 2
2 a 3
3 b 2
3 a 4
4 a 2
4 b 8
1 a 5
5 a 6
6 a 7
7 a 5
7 b 8
8 -| (FINAL)
        </code></pre>
        <pre>
FAdo: <code>
@NFA 8
1 a 2
2 a 3
3 b 2
3 a 4
4 a 2
4 b 8
1 a 5
5 a 6
6 a 7
7 a 5
7 b 8
        </code></pre>
        <p>Automaton accepting ab + bba:</p>
        <pre>
Grail:         <code>
(START) |- 1
1 a 2
2 b 3
1 b 4
4 b 5
5 a 3
3 -| (FINAL)
        </code></pre>
        <pre>
FAdo:  <code>
@NFA 3
1 a 2
2 b 3
1 b 4
4 b 5
5 a 3
        </code></pre>
    </div>
</div>
