<div class="col-md-12 text-center">
    <h3>Format for Antimorphisms</h3>
</div>
<div class="col-md-12 text-justify">
    <div class="col-md-12 text-justify">
        <p>Theta Antimorphisms are used to answer questions about certain DNA properties.</p>
        <p>Below is an example of an antimorphism describing the <i>DNA</i> antimorphism over the DNA alphabet: θ(a)=t, θ(t)=a , θ(g)=c, θ(c)=g. There is no need to add the inverses, as LaSer does this automatically.</p>
    </div>
    <div class="col-md-12 text-justify">
        <pre><code>
@Theta
a t
g c
        </code></pre>
    </div>
</div>