<!DOCTYPE html>
<html>
<head>
    <title>LaSer</title>
    {% load staticfiles %}

    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />
    <link rel="stylesheet" href='{% static "css/style.css" %}' />

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>

<section>
    <div class="top-content">
        <div class="container">
            <div class="row">

                <!--<div style="text-align:center; width:500px; margin-left: auto; margin-right:auto">-->
                <div class="top-con">
                    <div class="top-header">
                        <div class="col-md-12 text-center"><h1>LaSer</h1></div></div>
                    <div class="top-body">
                        <div class="col-md-12 text-center"><h2>Language Server</h2></div>
                        <div class="col-md-12 text-center"><h5>(ongoing project)</h5></div>
                        <div class="col-md-12 text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                LaSer answers users' algorithmic questions about
                                regular languages. For example, given a regular
                                language L, LaSer can decide whether L satisfies a
                                certain property (see I-LaSer), or it can compute
                                the edit distance of L (see O-LaSer).
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="col-md-12 center-block">
                            <div class="row">
                                <div class="col-md-push-2 col-md-4">
                                    <a id="independence" role="button" class="btn center-block btn-responsive" href="{% url 'app:independence' %}">
                                        <b>I-LaSer</b>: Questions about Independent Properties
                                    </a>
                                </div>
                                <div class="col-md-push-2 col-md-4">
                                    <a id="others" class="btn center-block btn-responsive" href="{% url 'app:others' %}">
                                        <b>O-LaSer</b>: Other Questions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
