<!DOCTYPE html>
<html>
<head>
    <title>O-LaSer</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale: 1.0"/>
    <link rel="icon" href='{% static "laser-logo.png" %}' />
    <link rel="stylesheet" href='{% static "css/bootstrap-select.css" %}' />
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />
    <link rel="stylesheet" href='{% static "css/style.css" %}' />


    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
</head>
<body>

<!--<SCRIPT language=javascript>
    function setRadio()
    {
        var radios = document.getElementsByName('choice');
        for (var i = 0, length = radios.length; i < length; i++)
        {
            if (radios[i].checked) {
                if (radios[i].value == 1)
                {
                    document.getElementById('EDChoice').disabled = false;
                    document.getElementById('LevenshteinChoice').disabled = false;
                }
                else
                {
                    document.getElementById('EDChoice').disabled = true;
                    document.getElementById('LevenshteinChoice').disabled = true;
                }
            }
        }
    }

    function hide(id)
    {
        var div=document.getElementById(id);
        div.style.display="none";
    }

    function show(id)
    {
        var div=document.getElementById(id);
        div.style.display="";
    }

    function resetForm()
    {
        hide('div4');
    }
</SCRIPT>-->


<div class="container text-center">
    <h1>O-LaSer</h1>
    <h4>O-LaSer has not been updated in a long time and should be considered <em>unstable</em></h4>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#references">References</a></li>
        <li><a data-toggle="tab" href="#automaton">Format for Automaton</a></li>
        <li><a data-toggle="tab" href="#transducer">Format for Transducer</a></li>
        <li><a data-toggle="tab" href="#trajectory">Format for Trajectory Set</a></li>
        <li class="pull-right"><a target="_self" href="/">Back</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="col-md-12 text-center"><h3 class="text-center"><b>(Other Language Server)</b></h3></div>
            <div class="col-md-12 text-center">
                O-LaSer answers questions about regular languages, <u>O</u>ther than
                <!-- SK chnaged this <a href="../independence/">independence properties questions</a>.
                     to the one below  -->
                <a href="{% url 'app:independence' %}">independence properties questions</a>.
            </div>

            <div class="col-md-12" style="border: solid #c0c0c0 1px; margin-top: 20px; margin-bottom: 10px;"></div>
            <form action="{% url 'app:others' %}" method="post" enctype="multipart/form-data" name="form1">
                {% csrf_token %}
                <div class="fieldWrapper col-md-12 text-center" style="margin-bottom: 10px;">
                    {{ form.automata_file.errors }}
                    <label for="id_automata_file">Provide a <u>language</u> (via an automaton):</label>
                    <div class="col-lg-5 col-lg-offset-5">
                        {{ form.automata_file }}
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="col-md-4 text-right align-num" style="margin-top: 20px;">with</div>
                    <div class="col-md-4 align-left align-num">
                        <select class="selectpicker selectC col-md-12 text-center align-num" name="NFAFormat">
                            <option value="" selected>-Please Select-</option>
                            <option value=1>Grail</option>
                            <option value=2>FAdo</option>
                        </select>
                    </div>
                    <div class="col-md-4 text-left align-num" style="margin-top: 20px;">format. <br><br></div>
                </div>
                <div class="col-md-12 text-center">
                    Select what you wish to compute about the given <u>language</u>:
                    <div class="col-md-12 text-center">
                    <div class="col-md-4 text-center"></div>
                    <div class="col-md-4 text-justify">
                    <p>
                        <input type="radio" name=choice value=1 onClick='setRadio()'/>
                        Edit (or Levenshtein) Distance<br />
                    <p>
                        <input type="radio" name=choice value=2 onClick='setRadio()'/>
                        Does the language have exponential density?
                    <p>
                        <input type="radio" name=choice value=3 onClick='setRadio()'/>
                        TODO
                    </div>
                    <div class="col-md-4 text-center"></div>
                        </div>
                </div>
                <div class="col-md-12 text-center">
                    <input type="submit" class="sub_upl" value = "Submit" />  <input onclick="resetForm()" type="reset" value = "Clear" />
                </div>
            </form>
            <div class="col-md-12 text-center">
                <h4>{{ automaton }}</h4>
                <h4>{{ transducer }}</h4>
                <h4>{{ result }}</h4>
                <h4>{{ proof }}</h4>
            </div>
        </div>

        <div id="references" class="tab-pane fade">
            <div class="col-md-12 text-center">
                <h3><b>Some References</b></h3>

                [KoYo:2013]
                Stavros Konstantinidis, Joshua Young: Deciding the density type of a given regular language. In Jan Holub and Jan Zdarek (Eds.):
                <a href="http://www.stringology.org/papers/PSC2013.pdf">Proceedings of the 2013 Prague Stringology Conference (PSC 2013)</a>,
                Czech Technical University in Prague, Czech Republic, Pages 21-34.
                <br><br>
                [KaKoKoYa:2013]
                Lila Kari, Stavros Konstantinidis, Steffen Kopecki, Meng Yang:
                <a href="http://cs.smu.ca/~stavros/papers/edit-distance.efficient.pdf">An efficient algorithm for computing the edit distance of a regular language via input-altering transducers</a>.
            </div>
        </div>
        <div id="automaton" class="tab-pane fade">
            <h3>Format for Automata</h3>
            <div class="col-md-12 text-center">
                <p>One can use the <a href="http://www.csd.uwo.ca/Research/grail/">Grail</a> and <a href="http://fado.dcc.fc.up.pt/">FAdo</a> formats for nondeterministic finite automata (those with nonempty transitions).<br> The format of <a href="http://fado.dcc.fc.up.pt/">FAdo</a> files must be as follows:</p>
                <div class="col-md-push-3 col-md-6 text-justify">
                    <ol>
                        <li>'#' begins a comment</li>
                        <li><b>@NFA</b>, or <b>@DFA</b>, begins a new automaton (and determines its type) and must be followed by the list of the final states separated by blanks</li>
                        <li>Transitions are written one per line and consist of three fields separated by blanks: "state" "symbol" "new state"</li>
                        <li>The source state of the first transition is the initial state.</li>
                    </ol>
                </div>
                <div class="col-md-12 text-justify">
                    <p>Here is an example of an automaton accepting ab* using both, <a href="http://www.csd.uwo.ca/Research/grail/">Grail</a> and <a href="http://fado.dcc.fc.up.pt/">FAdo</a> formats:</p>
<pre><code>
Grail:                  FAdo:
(START) |- 1            @NFA 2
1 a 2                   1 a 2
2 b 2                   2 b 2
2 -| (FINAL)
</code></pre>
                    <p><b>More examples follow:</b></p>

                    <p>Automaton accepting aaa(aaa)*b + aa(ba)*a(aa(ba)*a)*b:</p>
<pre><code>
Grail:                  FAdo:
(START) |- 1            @NFA 8
1 a 2                   1 a 2
2 a 3                   2 a 3
3 b 2                   3 b 2
3 a 4                   3 a 4
4 a 2                   4 a 2
4 b 8                   4 b 8
1 a 5                   1 a 5
5 a 6                   5 a 6
6 a 7                   6 a 7
7 a 5                   7 a 5
7 b 8                   7 b 8
8 -| (FINAL)
</code></pre>
                    <p>Automaton accepting ab + bba:</p>
<pre><code>
Grail:                  FAdo:
(START) |- 1            @NFA 3
1 a 2                   1 a 2
2 b 3                   2 b 3
1 b 4                   1 b 4
4 b 5                   4 b 5
5 a 3                   5 a 3
3 -| (FINAL)
</code></pre>
                </div>
            </div>
        </div>
        <div id="transducer" class="tab-pane fade">
            <div class="col-md-12 text-center">
                <h3>Format for Transducers</h3>
            </div>
            <div class="col-md-12 text-center">
                <div class="col-md-12 text-center">
                    <p>In the new version of I-LaSer (as of June 2014), only the FAdo format of transducers is accepted, as the Grail-like format is not generally supported. Transducers must be in standard form, that is, having <i>transitions of the form  &nbsp p x y q</i>, where p and q are states, and each of x and y is either a single alphabet symbol or the empty word. The empty word is written as <i>@epsilon</i>.</p>
                </div>
                <div class="col-md-12 text-center">
                    The format of transducer <a href="http://fado.dcc.fc.up.pt/">FAdo</a> files must be as follows:
                </div>
                <div class="col-md-push-3 col-md-6 text-justify">
                    <ol>
                        <li>'#' begins a comment.</li>
                        <li><b>@Transducer</b> begins a new transducer and must be followed by the list of the final states separated by blanks.</li>
                        <li>Transitions are written one per line and must be in standard form as noted above.</li>
                        <li>The source state of the first transition is the initial state.</li>
                    </ol>
                </div>
                <div class="col-md-12 text-center">
                    <p>Please see the FAdo documentation for the full description of Transducer format.</p>
                    <p>Here is an example of an input-altering transducer defining the <i>suffix code</i> property. The transducer returns the set of all <i>proper</i> suffixes of a given input word.</p>
                </div>
                <div class="col-md-12 text-justify">
<pre><code>
@Transducer 2 3
1 a @epsilon 2
1 b @epsilon 2
2 a @epsilon 2
2 b @epsilon 2
2 a a 3
2 b b 3
3 a a 3
3 b b 3
</code></pre>
                    <h4><b>More examples below:</b></h4>
                    <p>Input-preserving transducer defining the <i>1-sid error-detecting</i> property. On input <i>w</i>, the transducer returns all words resulting by performing at most one symbol substitution/insertion/deletion operation on <i>w</i>.</p>
<pre><code>
@Transducer 0 1
0 a a 0
0 b b 0
0 a b 1
0 b a 1
0 a @epsilon 1
0 b @epsilon 1
0 @epsilon a 1
0 @epsilon b 1
1 a a 1
1 b b 1
</code></pre>
                    <p>Input-altering transducer defining the <i>thin</i> property (those languages whose words are of different lengths). On input <i>w</i>, the transducer returns all words of the same length as <i>w</i>, but different from <i>w</i>.</p>
<pre><code>
@Transducer 2
1 a a 1
1 b b 1
1 a b 2
1 b a 2
2 a a 2
2 b b 2
2 a b 2
2 b a 2
</code></pre>
                </div>
            </div>
        </div>
        <div id="trajectory" class="tab-pane fade">
            <div class="col-md-12 text-center">
                <h3>Format for Trajectory Sets</h3>
            </div>
            <div class="col-md-12 text-justify">
                <p>Regular trajectory sets can be described via regular expressions or automata over {0,1}. For regular expressions, one can use <a href="http://fado.dcc.fc.up.pt/">FAdo</a> format. For finite automata (those with nonempty transitions), one can use the <a href="http://www.csd.uwo.ca/Research/grail/">Grail</a> or <a href="http://fado.dcc.fc.up.pt/">FAdo</a> format.</p>
                <p>Here is an example of an automaton accepting the language described by the regular expression 1*0*, which defines the <i>suffix code</i> property.</p>
<pre><code>
Grail:                  FAdo:
(START) |- 1            @NFA 1 2
1 0 1                   1 0 1
1 1 2                   1 1 2
2 1 2                   2 1 2
1 -| (FINAL)
2 -| (FINAL)
</code></pre>
                <h4><b>More examples below:</b></h4>
                <p>Automaton accepting 1*0*1*, which defines the <i>infix code</i> property.</p>
<pre><code>
Grail:                  FAdo:
(START) |- 1            @NFA 1 2 3
1 1 1                   1 1 1
1 0 2                   1 0 2
2 0 2                   2 0 2
2 1 3                   2 1 3
3 1 3                   3 1 3
1 -| (FINAL)
2 -| (FINAL)
3 -| (FINAL)
</code></pre>
            </div>
        </div>
    </div>
</div>

</body>
</html>
