<!DOCTYPE html>
<html>
<head>
    <title>I-Laser</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale: 1.0"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
</head>

<body>
<div class="container text-center">
    <h2>I-LaSer</h2> <h4>(Independent Language Server, v.5)</h4>
    <h5><i>v.5 released in Jan. 2018; some things need to be fixed</i></h5>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#automaton">Format for ...automata</a></li>
        <li><a data-toggle="tab" href="#transducer">...transducers</a></li>
        <li><a data-toggle="tab" href="#trajectory">...trajectories</a></li>
        <li><a data-toggle="tab" href="#theta">...antimorphisms</a></li>
        <li><a data-toggle="tab" href="#notes">Technical Notes</a></li>
        <li><a data-toggle="tab" href="#about">About</a></li>
        <li class="pull-right"><a target="_self" href="/">Back</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
           <!-- <div class="col-md-12 text-center"><h3 class="text-center"><b>Independent Language Server</b></h3></div> -->
           <div id="div5" class="col-md-12 text-center center-block">
                <h4>{{ automaton }}</h4>
                <h4>{{ transducer }}</h4>
                <h4>{{ result|safe }}</h4>
                <h4>{{ max_result }}</h4>
                <h4><a href="{{ MEDIA_URL }}{{ construct_path }}" >{{ construct_text }}</a></h4>
                <h4>{{ proof }}</h4>
            </div>
            <form action="{% url 'app:independence' %}" method="post" enctype="multipart/form-data" name="form1">
                {% csrf_token %}
                <div class="col-md-12 text-center" style="color: red; font-size: 12px;">
                    <p>{{ error_message }}</p>
                    {% for err in form.non_field_errors %}
                        <p>{{ err }}</p>
                    {% endfor %}
                </div>

                <div class="col-md-12 text-center">
                    <div class="col-md-12 text-center" style="margin-top: 20px; margin-bottom: 5px;">
                        <b>Which question do you want us to solve?</b>
                    </div>
                    <div class="col-md-12">
                        {{ form.question }}
                    </div>
                </div>

                <div class="fieldWrapper col-md-12 text-center" id="automata_load" style="margin-bottom: 30px;">
                    {{ form.automata_file.errors }}
                    <div class="col-lg-4 col-lg-offset-2 text-center" id="id_automata_file">
                        <label for="automata_file" style="margin-top: 15px;">Provide <u>a language</u> (via an automaton or regular expression):</label>
                        {{ form.automata_file }}
                    </div>
                    <div class="col-lg-4 text-center form-group">
                        <label for="automata_text"><b>OR</b> use this textarea:</label>
                        {{ form.automata_text }}
                    </div>
                </div>

                <div id = "divsat" class="col-md-12 text-center" style="margin-top: 10px; display: none">
                    <div class="col-md-12">
                        <b>Select a type of property:</b>
                    </div>
                    <div class="col-md-offset-3 col-md-6">
                        {{ form.property_type }}
                    </div>
                </div>
                <div id="epsilon" class="col-md-12 text-center" style="margin-top: 10px; display: none">
                    <div class="col-md-offset-3 col-md-6">
                        {{ form.epsilon }}
                    </div>
                </div>

                <br>
                <div id="integers_input" class="col-md-12 text-center" >
                    <div class="col-md-12 int_title"><b>Input below the integers for the Construction question:</b></div>
                    <div class="col-md-6 text-right align-num">
                        S (# of digits in the alphabet)
                    </div>
                    <div class="col-md-6 text-left align-num" >
                        {{ form.s_int }}
                    </div>
                    <div class="col-md-6 text-right align-num">
                        N (# of words to construct)
                    </div>
                    <div class="col-md-6 text-left align-num" >
                        {{ form.n_int }}
                    </div>
                    <div class="col-md-6 text-right align-num">
                        L (length of these words)
                    </div>
                    <div class="col-md-6 text-left align-num" >
                        {{ form.l_int }}
                    </div>
                </div>
                <div id="div1" class="col-md-12 text-center" >
                    <div class="col-md-12">
                        {{ form.fixed_type.errors }}
                    </div>
                    <div class="col-md-12">
                        <label for="id_a" style="margin-top: 15px;">Select the fixed property (If not specified in the file above):</label>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        {{ form.fixed_type }}
                    </div>
                </div>
                <div id="div2" class="col-md-12 text-center">
                    <div class="col-md-12">
                        {{ form.transducer_file.errors }}
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <label for="id_a" style="margin-top: 15px;">Provide <u>a property</u> of the selected type:</label>
                       {{ form.transducer_file }}
                    </div>
                    <div class="col-lg-4 text-center form-group">
                        <label for="transducer_text"><b>OR</b> use this textarea:</label>
                        {{ form.transducer_text1 }}
                    </div>
                </div>
                <div id="div3" class="col-md-12">
                    <div class="col-md-12" >
                        {{ form.transducer_file.errors }}
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center" >
                        <label for="id_a" style="margin-top: 15px;">Provide <u>a property</u> of the selected type:</label>
                        {{ form.transducer_file }}
                    </div>
                    <div class="col-lg-4 text-center form-group">
                        <label for="transducer_text2"><b>OR</b> use this textarea:</label>
                        {{ form.transducer_text2 }}
                    </div>
                </div>
                <div id="div4" class="col-md-12">
                    <div class="col-md-12" >
                        {{ form.theta_file.errors }}
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center" >
                        <label for="id_a" style="margin-top: 15px;">Provide <u>an antimorphic permutation:</u></label>
                        {{ form.theta_file }}
                    </div>
                    <div class="col-lg-4 text-center form-group">
                        <label for="transducer_text2"><b>OR</b> use this textarea:</label>
                        {{ form.theta_text }}
                    </div>
                </div>
                <div class="col-md-12 text-center" style="margin-top: 2rem;">
                    <input type="submit" value="Submit Request" name="run_code" />
                    <input type="submit" value="Generate Program" name="gen_code" />
                    <input type="submit" value="Clear" name="clear_page"/>
                </div>
            </form>
            <hr/>
            <div class="col-md-12 text-justify">
                <p>I-LaSer answers questions about regular languages and independent properties - prefix code property, suffix code property, ..., various error-detection and error-correction properties.</p>
                <ul>
                    <li><b> Satisfaction question: </b>
                        Given language L and property P, does L satisfy P?
                    </li>
                    <li><b> Maximality question: </b>
                        Given language L and property P, is L maximal with respect to P?
                    </li>
                    <li><b> Construction question: </b>
                        Given property P and integers N,k>0, return a language of N words of length k satisfying P.
                    </li>
                    <li><b> Approximate Maximality question: </b>
                        Given language L and property P, is the proportion of words in L least 1-&epsi;?
                    </li>
                </ul>
                <i>Quick Notes (click on the "Technical Notes" tab for details):</i> Languages are provided by automata; properties are either fixed, or provided by transducers or trajectory expressions. The <u>alphabets</u> of the given property and the language involved <u>must be the same</u>. The computation of the Construction question produces languages over an alphabet of the form {0,1,...,s} with 2 &le; s &le; 10. For online-computation (via "Submit Request") the sizes of the automata and transducers involved are limited. 
            </div>
        </div>

        <div id="notes" class="tab-pane fade">
            {% include "tabs/notes.html" %}
        </div> 

        <div id="about" class="tab-pane fade">
            <h3>ABOUT I-LaSer</h3>  
            <h5>(Names of I-LaSer versions are those of research students who contributed to their implementation)</h5>
            <div class="col-md-12 text-justify">
                <p><b>Project initiator</b>: Stavros Konstantinidis (<a href="http://cs.smu.ca/~stavros/">http://cs.smu.ca/~stavros/</a>)</p>
                <h4><b>Significant contributors</b>:</h4>
                <p><a href="http://www.dcc.fc.up.pt/~nam/">Nelma Moreira</a> &amp <a href="http://www.dcc.fc.up.pt/~rvr/">Rogerio Reis</a>: as of version 3, LaSer's back end is based on <a href="http://fado.dcc.fc.up.pt/">FAdo</a></p>
                <p>5: Matthew Rafuse (January 2018, <b>current version</b>) <br> Incorporating into LaSer satisfaction of DNA properties, introducing text areas for entering user input, and making the views.py code modular.</p>
                <p>4: Abisola Adeniran (October 2016) <br> Incorporating into LaSer the construction problem.</p>
                <p>3: Casey Meijer (June 2014) <br> Deciding maximality of all available properties, generation of executable code</p>
                <p>2: Meng Yang (June 2012) <br> Deciding satisfaction of: Input-preserving transducer, Error-detection, and Error-correction properties </p>
                <p>1: Krystian Dudzinski (June 2010) <br> Deciding satisfaction of: Trajectory and Input-altering transducer properties</p>
            </div>
        </div>

        <div id="automaton" class="tab-pane fade">
            {% include "tabs/automaton.html" %}
        </div>

        <div id="transducer" class="tab-pane fade">
            {% include "tabs/transducer.html" %}
        </div>

        <div id="trajectory" class="tab-pane fade">
            <div class="col-md-12 text-center">
                <h3>Format for Trajectory Expressions</h3>
            </div>
            <div class="col-md-12 text-justify">
                <p>
                    Regular trajectory properties can be described by regular expressions in the
                    <a href="http://fado.dcc.fc.up.pt/">FAdo</a> format. For example, 
                    <br>
                    the regular expression 1*0*
                    describes the <i>suffix code</i> property;
                    <br> 
                    the regular expression 1*0*1* describes the <i>infix code</i> property;
                    <br>
                    the regular expression 0*1* + 1*0* describes the bifix code property 
                    (being prefix and suffix code).
                </p>
            </div>
        </div>

        <div id="theta" class="tab-pane fade">
            {% include "tabs/theta.html" %}
        </div>
    </div>
</div>

</body>
</html>
